.cta {
  background-color: linear-gradient(to right, #ebb35b, #e7c282);
  padding: 10px 20px;
  border-radius: 5px;
}

/* Hero Section */
.hero {
  background-image: url("/images/solar-panels.jpg");
  background-size: cover;
  background-position: center;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.heroContent {
  text-align: center;
}

.heroButtons {
  margin-top: 20px;
}

.heroButtons a {
  padding: 12px 24px;
  margin: 10px;
  background: linear-gradient(to right, #ebb35b, #e7c282);
  color: white;
  border-radius: 5px;
}

/* About Us Section */
.about {
  padding: 4rem 2rem;
  text-align: center;
  /* background-color: #f9f9f9; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: #333;
}

.about p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  line-height: 1.6;
  color: #555;
}

.about img {
  max-width: 50%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
}

/* Projects Section */
/* Home.module.css */
/* Home.module.css */
.projects {
  padding: 4rem 2rem;
  background-color: #f9fafb;
  /* Light background */
  text-align: center;
}

.fancy-heading {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white !important;
}

/* Flexbox Gallery */
.projectGallery {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* Center items horizontally */
  align-items: center;
  /* Center items vertically */
  gap: 1.5rem;
  /* Spacing between cards */
}

/* Card Styling */
.projectCard {
  width: 300px;
  /* width: calc(33.33% - 1.5rem); Three cards per row with spacing */
  /* max-width: 300px; Max width for each card */
  /* flex: 1 1 calc(33.33% - 1.5rem); Ensure cards resize */
  display: flex;
  justify-content: center;
  /* Center image horizontally */
  align-items: center;
  /* Center image vertically */
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  /* White background */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 300px;
  width: 300px;
}

.projectCard:hover {
  transform: scale(1.05);
  /* Slight zoom effect */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* Image Styling */
.projectCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* Services Section */
.services {
  padding: 40px;
  background-color: linear-gradient(to right, #ebb35b, #e7c282);
  color: white;
  text-align: center;
}

.serviceCards {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

@media (max-width: 768px) {
  .serviceCards {
    grid-template-columns: repeat(1, 1fr);

  }
}

.card {
  background-color: white;
  padding: 20px;
  color: #333;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h3 {
  color: linear-gradient(to right, #ebb35b, #e7c282);
}

/* Testimonials Section */
.testimonials {
  padding: 40px;
  text-align: center;
}

.testimonialSlider {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.testimonial {
  max-width: 300px;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.testimonial p {
  font-style: italic;
}

/* Call-to-Action Section */
.cta {
  padding: 40px;
  background: linear-gradient(to right, #ebb35b, #e7c282);
  color: white;
  text-align: center;
}

.ctaButton {
  padding: 12px 24px;
  background: linear-gradient(to right, #ebb35b, #e7c282);
  color: white;
  font-weight: bold;
  border-radius: 5px;
}