/* Navbar container */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: transparent;
  color: white;
  position: fixed;
  z-index: 100;
  width: 100%;
  transition: background-color 0.3s ease; /* Smooth transition when scrolling */
}

.header.scrolled {
  background-color: rgba(0, 0, 0, 0.8); /* Dark background when scrolled */
}

.logo {
  font-size: 24px;
  font-weight: bold;
}


/* Navbar menu toggle button (for mobile view) */
.menuToggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* Navbar links */
/* .navbar {
  display: flex;
} */

.navbar a {
  color: white; /* Default link color */
  text-decoration: none;
  transition: color 0.3s ease; /* Smooth color change for links */
}


.navList {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navList li {
  margin: 0 15px;
}

.navList a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}


/* Call to action button */
.cta {
  background-color: #ffc107;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
}

/* Cart icon */
.cartIcon {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cartCount {
  font-size: 12px;
  background-color: #f44336;
  color: white;
  border-radius: 50%;
  padding: 2px 8px;
  margin-left: 5px;
}

/* Mobile view styles */
@media (max-width: 768px) {
  /* .navbar {
    display: none;
  } */
  .header {
    padding: 8px 18px;
  }
  .menuToggle {
    display: block;
  }

  .navList {
    display: none;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    top: 60px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8); /* Dark background when scrolled */
    width: 100%;
    padding: 10px 20px;
  }

  .navList.show {
    display: flex;
  }

  .navList li {
    margin: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }
}
